<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340091025127-r7ul6is65i92vu9hth2hu3v965d1g2nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340091025127-r7ul6is65i92vu9hth2hu3v965d1g2nn</string>
	<key>API_KEY</key>
	<string>AIzaSyBmjz88pFO08FUlcAxpIDKTm7Ed4P_WU4E</string>
	<key>GCM_SENDER_ID</key>
	<string>340091025127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niovar.niovarapp</string>
	<key>PROJECT_ID</key>
	<string>niovar</string>
	<key>STORAGE_BUCKET</key>
	<string>niovar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340091025127:ios:845e60f56290c81b98d442</string>
</dict>
</plist>